# Install with: `pip install -r requirements.txt`

numpy~=1.5
matplotlib~=1.3.1,~=2.0.0,~=3.0.0
scipy~=0.13.3,~1.0

# May also require "gfortran", "python3-tk", "libpng" and "freetype"
# system libraries. You will know if needed as errors will be thrown
# in executing this file:
#
# For example these can be installed on Ubuntu by:
# 	sudo apt-get install libpng-dev
#	sudo apt-get install libfreetype6-dev
#	sudo apt-get install python3-tk
#	sudo apt-get install gfortran


